<section>
  {{#if hasAnswer}}
    {{#if editing}}
      <div class="well">
        {{#if heading}}
          <h3>{{heading}}</h3>
        {{/if}}
        <div class="row answer-well">
          <div class="col-md-6 clearfix">
            <div class="heading-note">You can use <a href="https://help.github.com/articles/markdown-basics/">markdown</a></div>
            {{markdown-editor focus=editorFocus value=answer rows="6"}}
          </div>
          <section class="col-md-6 answer-html">
            {{markdown-component markdown=answer}}
          </section>
        </div>
      </div>
    {{else}}
      <div class="well answer-well clickable" {{action 'edit'}}>
        {{#if heading}}
          <h3>{{heading}}</h3>
        {{/if}}
        <section class="answer-html">
          {{markdown-component markdown=answer runHyphenate=true}}
        </section>
        {{!-- <button class="btn btn-simple" {{action 'edit'}} >Edit</button> --}}
      </div>
    {{/if}}
  {{else}}
    {{#if createText}}
      <button class="btn btn-primary" {{action 'edit'}} >{{createText}}</button>
    {{else}}
      <button class="btn btn-primary" {{action 'edit'}} >Edit</button>
    {{/if}}
  {{/if}}
</section>