{{#if question.information}}
  <section class="question hyphenate">
    {{markdown-component markdown=question.information runHyphenate=true}}
  </section>
{{/if}}
{{#if question.question}}
  <section class="question hyphenate">
    {{markdown-component markdown=question.question runHyphenate=true}}
  </section>
  {{markdown-answer answer=question.answer heading="Answer" createText="Answer"}}
{{/if}}
{{#if question.parts}}
  {{#each question.parts as |part|}}
    <h3>
      <a class="header-anchor"
        id="question-{{question.number}}-{{part.number}}"
        href="#question-{{question.number}}-{{part.number}}">
        <span class="header-link"></span>
      </a>
      Part {{part.number}}
    </h3>
    <section class="question hyphenate">
      {{markdown-component markdown=part.question runHyphenate=true}}
    </section>
    {{markdown-answer answer=part.answer heading="Answer" createText="Answer"}}
  {{/each}}
{{/if}}