{{!-- <div class="alert alert-warning">Your work will not automatically be saved. Do not close this page before submitting.</div> --}}
<h1>{{model.testInfo.name}}</h1>
{{#each testContent.questions as |question|}}
  <h2>
    <a class="header-anchor"
      id="question-{{question.number}}"
      href="#question-{{question.number}}">
      <span class="header-link"></span>
    </a>
    Question {{question.number}}
  </h2>
  {{#if question.information}}
    <section class="question hyphenate">
      {{markdown-component markdown=question.information runHyphenate=true}}
    </section>
  {{/if}}
  {{#if question.question}}
    <section class="question hyphenate">
      {{markdown-component markdown=question.question runHyphenate=true}}
    </section>
    {{markdown-answer answer=question.answer}}
  {{/if}}
  {{#if question.parts}}
    {{#each question.parts as |part|}}
      <h3>
        <a class="header-anchor"
          id="question-{{question.number}}-{{part.number}}"
          href="#question-{{question.number}}-{{part.number}}">
          <span class="header-link"></span>
        </a>
        Part {{part.number}}
      </h3>
      <section class="question hyphenate">
        {{markdown-component markdown=part.question runHyphenate=true}}
      </section>
      {{markdown-answer answer=part.answer}}
    {{/each}}
  {{/if}}
  <hr>
{{/each}}
<hr>
<div class="row form-group">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3">
    <button class="btn btn-block btn-primary" {{action 'submit'}} >Submit</button>
  </div>
</div>