<h1>{{testInfo.name}}</h1>
<div class="row">
  <div class="col-sm-3">
    <div class="well well-sm" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
      <table class="table" style="table-layout: fixed">
        <colgroup>
          <col style="width:70px" align="right">
          <col align="left">
        </colgroup>
        <tbody>
          <tr>
            <td class="text-right">Name: </td>
            <td>{{reqInfo.firstName}} {{reqInfo.lastName}}</td>
          </tr>
          <tr>
            <td class="text-right">User: </td>
            <td>{{reqInfo.email}}</td>
          </tr>
          <tr>
            <td class="text-right">Duration: </td>
            <td>{{duration}}</td>
          </tr>
          <tr>
            <td class="text-right">Started: </td>
            <td>{{startTime}}</td>
          </tr>
          {{#if submittedTime}}
          <tr>
            <td class="text-right">Submitted: </td>
            <td>{{submittedTime}}</td>
          </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-9">
    {{#if submittedTime}}
      <div class="alert alert-warning" role="alert">
        This testing session has already been submitted. You may make further
        changes and resubmit, but it is up to the employer as to whether the changes
        are accepted. If you are not the same person who submitted these answers,
        please {{#link-to 'test' testId}}start a new session{{/link-to}}.
      </div>
    {{/if}}

    <section class="question hyphenate">
    You can save and come back to the test at any time using the
    {{#link-to 'testSession' _id}}current URL{{/link-to}} (save it, or bookmark
    it, or look in your browser history). Note that the URL is not the same as the
    URL you may have been given by the recruiter or potential employer.
    </section>

    <h2>Instructions</h2>

    <section class="question hyphenate">
      {{markdown-component markdown=testInfo.instructions}}
    </section>
    {{#each questions as |question|}}
      <h2>
        <a class="header-anchor"
          id="question-{{question.number}}"
          href="#question-{{question.number}}">
          <span class="header-link"></span>
        </a>
        Question {{question.number}}
      </h2>
      {{#if question.information}}
        <section class="question hyphenate">
          {{markdown-component markdown=question.information runHyphenate=true}}
        </section>
      {{/if}}
      {{#if question.question}}
        <section class="question hyphenate">
          {{markdown-component markdown=question.question runHyphenate=true}}
        </section>
        {{markdown-answer answer=question.answer heading="Answer" createText="Answer"}}
      {{/if}}
      {{#if question.parts}}
        {{#each question.parts as |part|}}
          <h3>
            <a class="header-anchor"
              id="question-{{question.number}}-{{part.number}}"
              href="#question-{{question.number}}-{{part.number}}">
              <span class="header-link"></span>
            </a>
            Part {{part.number}}
          </h3>
          <section class="question hyphenate">
            {{markdown-component markdown=part.question runHyphenate=true}}
          </section>
          {{markdown-answer answer=part.answer heading="Answer" createText="Answer"}}
        {{/each}}
      {{/if}}
      <hr>
    {{/each}}
    <h2>Additional Comments</h2>
    <section class="question hyphenate">
      <p>Please provide any additional comments here. This is where you can make excuses about the dog eating your laptop, or complain about how unfair the test was. Don't be shy, all feedback is welcome.</p>
    </section>
    {{markdown-answer answer=model.comments heading="Comments" createText="Add comments"}}
    <hr>
    <div class="row form-group">
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <button id="save-button" class="btn btn-block btn-default ladda-button" data-style="slide-down" {{action 'save'}}>
          <span class="ladda-label">Save</span>
        </button>
      </div>
      <div class="col-sm-3">
        <button id="submit-button" class="btn btn-block btn-primary ladda-button" data-style="slide-down" {{action 'submit'}}>
          <span class="ladda-label">Submit</span>
        </button>
      </div>
    </div>
  </div>
</div>